@keyframes example {
  0% {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: circle(50% at 50% 50%);
  }
}

.talk-column-a,
.talk-column-b {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  overflow: hidden;
  padding: 0 0 7rem 0;
  grid-column-gap: 10%;
}

.talks-group {
  padding: 10rem;
  padding-bottom: 5rem;
}

.person-name {
  position: relative;
}

.personPhoto {
  max-width: 400px;
  max-height: 400px;
  filter: grayscale(1);
}

.person-name::before {
  position: absolute;
  display: block;
  content: "";
  width: 40%;
  height: 1.3rem;
  background-color: #e74f6b;
  left: -0.5rem;
  bottom: 0.5rem;
  z-index: -1;
}

.talk-text {
  text-align: left;
}

.talk-text h1 {
  margin-top: 0;
}

.column-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 10%;
  position: relative;
}

.column-b {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.column-a img {
  z-index: 1;
}

.column-b img {
  z-index: 1;
}

.photo-talk-a {
  position: absolute;
  background: radial-gradient(circle at center, #ccc 17%, transparent 22%);
  background-size: 13px 13px;
  width: 125px;
  height: 90px;
  right: 241px;
  top: 122px;
}

.photo-talk-b {
  position: absolute;
  background: radial-gradient(circle at center, #ccc 17%, transparent 22%);
  background-size: 13px 13px;
  width: 125px;
  height: 90px;
  left: 176px;
  top: 122px;
}

@media (max-width: 700px) {
  .talk-column-a,
  .talk-column-b {
    display: flex;
    flex-direction: column;
  }

  .talk-column-b {
    flex-direction: column-reverse;
  }

  .column-a,
  .column-b {
    display: flex;
    justify-content: center;
    padding-right: 0;
    margin-top: 5%;
  }

  .talk-text {
    text-align: center;
  }

  .person-name::before {
    left: 32px;
  }

  .photo-talk-b {
    left: 56%;
    top: 108px;
  }

  .photo-talk-a {
    right: 14%;
    top: 58%;
  }

  .talk-column-a,
  .talk-column-b {
    padding: 0 0 4rem 0;
  }

  .talks-group {
    padding: 3rem;
    padding-bottom: 4rem;
    background-color: red;
  }
}

.double-take{
  content: ' ';
  width: 100%;
  height: 300px;
  background: url('./gabrieloliva.jpeg') right bottom no-repeat, url('./hugoferreira.jpeg') left bottom no-repeat;
  background-size: 50%, 57%;
  overflow: hidden;
  filter: grayscale(1);
}
