#map{
    background-color: black;
    color: white;
    height: 50rem;
    overflow: hidden;
    position: relative;
}

.overlay-map{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.address {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 17rem;
}

.address-date {
    display: block;
    font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 0.6rem;
    padding-bottom: 5rem;
}

.address-place {
    font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 0.6rem;
    display: block;
}

.address-street {
    display: block;
    margin: 0;
    font-size: smaller;
}