// Base Colors
$base-color: #e51e6b;
$text-color: #535353;
$secondary-text-color: #eaeaea;
$black-color: #202020;

// Primary Colors
$primary-soft-blue: #bbb8fa;
$primary-dark-blue: #070439;

// Accent Colors
$accent-green: #05d69b;

// Neutral Colors
$neutral-gray: #808080;
