nav{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.1);
}

.nav-logo{
    display: block;
    float: left;
}

ul{
    padding-top: 0.8rem;
    float: right;
}

li{
    display: inline-block;
    list-style: none;
    padding-left: 3rem;
}

li a{
    display: inline-block;
    cursor: pointer;
}