#sobre{
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    position: relative;
    overflow: hidden;
    min-height: 380px;
}

.about-content{
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.video-background {
    background: #000;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: -15%;
    left: -15%;
    width: 130%;
    height: 130%;
    zoom: 2;
    pointer-events: none;
}

.giant-text-bg{
    position: absolute;
    top: 5rem;
    left: 5rem;
    margin-left: 35rem;
    font-weight: bolder;
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.003);
    width: 100000rem;
    text-align: left;
    margin-top: 5rem;
}

.about-content .container {
    height: 300px;
    overflow: hidden;
}

.about-content .about-text {
    width: 45rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;
    margin-top: 15rem;
}

.about-content .about-text .title {
    letter-spacing: 1rem;
}

.about-content .about-text .body {
    margin-top: -10px;
}