#sobre{
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    position: relative;
    overflow: hidden;
}

.about-content{
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.video-background {
    background: #000;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: -15%;
    left: -15%;
    width: 130%;
    height: 130%;
    zoom: 2;
    pointer-events: none;
}

.giant-text-bg{
    position: absolute;
    top: 5rem;
    left: 0;
    font-weight: bolder;
    font-size: 15rem;
    color: rgba(255, 255, 255, 0.327);
}

.about-content .container {
    height: 300px;
    overflow: hidden;
}