@font-face {
  font-family: 'Late Font';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/late-font.ttf') format('truetype'),
}

@font-face {
  font-family: 'Late Font';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/late-font-bold.ttf') format('truetype'),
}

html {
  font-size: 62.5%; /* Now 10px = 1rem! */
  font-family: 'Late Font', 'Montserrat', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  line-height: 1.5; /* a nice line-height */
  padding: 0;
  margin: 0;
  font-weight: normal;
}

a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h3{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.container{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 130rem;
}

.app {
  text-align: center;
}

.app-logo {
  padding: 0.5rem;
  width: 15rem;
}

.app-header {
  background-color: #ffffff;
}

.app-link {
  color: #c209d3;
}

.sympla-wrapper{
  opacity: 0.9;
  width: 100%;
  max-width: 520px;
  height: 300px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  zoom: 0.6;
  z-index: 5000;
  overflow: hidden !important;
  -webkit-animation-name: fadein; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation-name: fadein; /* Firefox < 16 */
   -ms-animation-name: fadein; /* Internet Explorer */
    -o-animation-name: fadein; /* Opera < 12.1 */
       animation-name: fadein;
  animation-duration: 4s;
  animation-delay: 12s;
  
}

.sympla-wrapper iframe{
  height: 600px !important;
}